@require 'styles'
@require 'responsive'

header
  align-items center
  display flex
  justify-content space-between
  margin 0 auto
  max-width 1200px
  padding 40px
  position relative
  z-index 1000
  width calc(100vw - 80px)

  +media($mobile-screen)
    width calc(100vw - 48px)
    padding 24px

    h1, #menu
      font-size $fontM !important

  h1, #menu
    font-family 'Roboto'
    font-size $fontL
    text-transform uppercase
    font-weight 400

    &:hover
      color $darkGray

  #menu
    cursor pointer
    transition color 0.4s ease-out
