@require 'styles'

header
  align-items center
  display flex
  justify-content space-between
  padding 40px
  position relative
  z-index 1

  h1
    font-family 'Roboto'
    font-size $fontL
    text-transform uppercase
    font-weight 300
