@require 'styles'

header
  align-items center
  display flex
  justify-content space-between
  padding 40px
  position relative
  z-index 1

  h1
    font-family 'Roboto'
    font-size $fontL
    text-transform uppercase
    font-weight 400

  #menu
    color $white
    cursor pointer
    font-weight 400
    text-transform uppercase
    transition color 0.4s ease-out

    &:hover
      color darken($white, 30)
