@require 'styles'

html, body, body > div, body > div > div
  height 100%

html
  font-family 'Tajawal'
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  color $black
  font-weight 400
  font-size $fontM
  margin 0

a, .link
  link()

svg
  path
    transition fill 0.2s linear
