@require 'styles'

html, body, body > div, body > div > div
  height 100%

html
  font-family 'Tajawal'
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  margin 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-weight 400
  font-size $fontM

a
  link()

svg
  path
    transition fill 0.2s linear

.home
  display flex

  .gatsby-image-wrapper
    width 350px

  .welcome-image
    background-image url('images/welcome-trace.png')
    height 100vh
    transition background-image 1s ease-in-out
    background-size 100%
    background-repeat no-repeat
    animation welcomeTransition 5s ease-in-out, welcomePosition 1s ease-out
    opacity 0.4
    overflow hidden
    position relative

  .message
    max-width 500px

@keyframes welcomePosition {
  from {
    top: 50px
  }
  to {
    top: 0
  }
}

@keyframes welcomeTransition {
  0% {
    background-image: url('images/welcome.png')
    opacity: 0
  }
  33% {
    opacity: 1
  }
  80% {
    background-image: url('images/welcome-trace.png')
    opacity: 0.6
  }
  100% {
    opacity: 0.4
  }
}
