@require 'styles'

.layout
  height 100%

  .bg
    height 100%
    max-width 100vw
    position fixed
    width 100%
    z-index -1

    &.page-home
      .background
        +media($extra-small-screen)
          background-image url('../images/champagne.jpg')

          img
            opacity 0 !important

    &.blur
      animation blurBackground 4s
      filter blur(7px)
      -webkit-filter blur(7px)

      .background
        opacity 0.5

    .background
      background-size cover
      background-position 50%
      background-attachment fixed
      height 100%
      width 100%
      position fixed
      transition background-image 1s linear

      .gatsby-image-wrapper
        height 100%
        width 100%

    .color-background
      background #151414
      height 100%
      position fixed
      transition background 0.5s linear, opacity 0.3s linear
      width 100%

  .nav-buffer
     height 144px

     +media($mobile-screen)
      height 80px

  .content
    display flex
    justify-content space-between
    margin 0 auto
    width 100vw
    max-width 1360px // 1200 + 160px for padding

    +media($large-screen)
      // height 100%
      top: 0;
      position: absolute;
      padding-top: 104px;
      left: calc((100vw - 1280px) / 2);
      max-width: 1280px;
      // overflow: hidden;
      // border-left: 2px solid $tan;
      // border-right: 2px solid $tan;

    .main-content
      display flex
      width 100%

  footer
    subtext()
    align-items center
    display flex
    flex-direction column
    margin 20px 0

    a
      color $black

      &:hover
        color $darkGray

@keyframes blurBackground {
  0% {
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
  30% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  100% {
    filter: blur(7px);
    -webkit-filter: blur(7px);
  }
}
