@require 'styles'

.main-content > .location
  animation fadeInContent 0.7s linear
  height 100vh
  left 0
  position absolute
  top 0
  width 100vw

  .view-header
    display flex
    justify-content center

    .back
      margin-right 20px
      text-transform lowercase

  .location-content
    // default view
    .view
      align-items center
      border-radius 50%
      display flex
      justify-content center
      padding 80px
      position absolute

      &.where
        height 450px
        left calc(50% - 300px - 80px)
        top -20%
        width 450px
        padding 160px
        transform translateX(0) translateY(0)

        .icon
          // animation icon1 2s linear
          background #cbf2ff

        .bg-image img
          object-position center top

      &.things
        height 600px
        left -3%
        width 650px
        top 32%

        .icon
          background $gray

        .bg-image img
          object-position right bottom

      &.travel
        height 580px
        right -13%
        width 580px
        top 18%

        .icon
          background #abc0d9

      .section-header
        cursor pointer
        display flex
        flex-direction column
        align-items center
        padding 40px
        position relative
        z-index 10000

        .icon
          border-radius 50%
          height 24px
          width 24px
          margin-bottom 16px
          padding 24px
          position: absolute;
          transition height 0.2s ease-in-out, width 0.2s ease-in-out, background 0.2s linear, opacity 0.2s linear
          z-index 10
          display: flex;
          justify-content: center;
          align-items: flex-start;
          opacity 1

          img
            margin-top 0
            transition margin-top 0.2s ease-in-out

        .view-name
          font-weight 500
          z-index 100
          margin-top 80px

      .bg-image
        border-radius 50%
        height 100%
        opacity 0
        overflow hidden
        width 100%
        position absolute
        z-index 1
        transition opacity 0.4s linear 0.2s

        img
          height 100%
          object-fit cover
          width 100%
          z-index 1

      &.hover
        .section-header .icon
          background white
          height 100px
          width 100px
          opacity 0.7

          img
            margin-top 20px

        .bg-image
          opacity 0.4

    .center
      serifHeader()
      align-items center
      display flex
      font-size $fontXL
      height 50px
      justify-content center
      left calc(50% - 300px)
      line-height 1.5
      position absolute
      top calc(50% - 25px)
      width 600px
      z-index 1000

  // indiv views
  .view-header
    display flex
    justify-content space-between
    margin 160px auto 60px
    max-width 1200px
    padding 0 80px

    .back
      border-bottom 1px solid transparent
      cursor pointer
      padding-bottom 8px

      &:hover
        border-bottom 1px solid black

    .title
      header()

    .filler
      width 68px
      height 1px

  .todo, .travel, .hotel-list
    color black
    max-width 1200px
    margin 0 auto
    padding 0 80px 80px

    .section
      margin-bottom 60px

      .section-title
        serifHeader()
        margin-bottom 20px

      .subsection
        margin 30px 0

        .title
          header()

    .notes, .instructions
      line-height 1.4em
      margin 10px 0

    .notes
      subtext()
      font-size $fontM

      ul
        margin-left 20px

    .instructions
      color #99c0e3
      font-weight 500

@keyframes icon1
  0%
    transform translateY(0) translateX(0)
  5%
    transform translateY(20px) translateX(40px)
  25%
    transform translateY(70px) translateX(100px)
  40%
    transform translateY(200px) translateX(30px)
  50%
    transform translateY(130px) translateX(50px)
  80%
    transform translateY(50px) translateX(60px)
  85%
    transform translateY(230px) translateX(150px)
  95%
    transform translateY(100px) translateX(100px)
  100%
    transform translateY(0px) translateX(0px)
