@require 'styles'

.main-content > .location
  animation fadeInContent 0.7s linear
  max-width 1200px
  margin 0 auto
  width calc(100% - 160px)

  .header
    serifHeader()
    align-items center
    display flex
    font-size $fontXL
    justify-content center
    line-height 1.5
    margin-bottom 40px

  .location-content
    margin-bottom 80px
    position relative

    .bg-image
      height 100%
      width 100%
      position absolute

      img
        height 100%
        object-position left top
        object-fit cover
        width 100%

    .content-section
      .section-header
        cursor pointer
        display grid
        grid-template-columns 72px 150px auto
        align-items center
        padding 40px 0
        position relative
        z-index 10000

        .icon
          height 24px
          width 24px
          padding 24px
          z-index 10
          display: flex;
          justify-content: center;
          align-items: flex-start;
          opacity 1
          z-index 3

          img
            margin-top 0

        .white
          background white
          height 100%
          opacity 1
          overflow hidden
          width 100%
          position absolute
          z-index 2
          transition opacity 0.5s linear

        .view-name
          flex-shrink 0
          font-weight 400
          z-index 3

      &.hover
        .icon

        .view-name
          font-weight 500

        .white
          opacity 0.6

      &.expanded
        .section-header
          align-items flex-start

          .view-name
            margin-top 26px

          .todo, .travel-content, .hotel-list
            padding-top 24px

        .white
          opacity 0.93
          position absolute
          top 0

  .todo, .travel-content, .hotel-list
    color black
    max-width 1200px
    margin 0 auto
    padding 0 20px
    position relative
    z-index 4

    .section
      margin-bottom 50px

      .section-title
        serifHeader()
        margin-bottom 20px

    .subsection
      padding-bottom 20px

      &:last-child
        padding 0

      .title
        header()
        margin-bottom 15px

    .notes, .instructions
      line-height 1.4em
      margin-bottom 10px

    .notes
      subtext()
      font-size $fontM

      ul
        margin-left 20px

    .instructions
      color #99c0e3
      font-weight 500
