@require 'styles'
@require 'responsive'

$darkWhite = darken($white, 45)

.nav
  border-left 1px solid $darkWhite
  display flex
  flex-direction column
  justify-content space-between
  padding 40px
  width 32%
  opacity 1
  position relative
  transition width 0.35s ease-out 0.15s, opacity 0.4s, left 0.7s

  +media($mobile-screen)
    left 0
    position absolute

  &.hidden
    opacity 0
    padding 0
    width 0

    *
      display none

  .selected-nav-line
    left -1px
    position absolute
    top 0
    transition height 0.4s linear, background-color 0.4s linear
    width 1px

  .nav-item
    border-bottom 1px solid transparent
    color $darkWhite
    font-size calc(min(10vw, 7.1vh))
    font-weight 200
    padding 1.2vh
    transition color 0.4s ease-out, margin-left 0.2s linear

    +media($mobile-screen)
      font-size 7.1vh

    &:hover
      border-bottom 1px solid transparent
      color white

    &[aria-current='page'], &.current
      color white

    &.selected
      margin-left 12px
