@require 'styles'

$height = 65vh

photo-style(idx)
  animation "photo%s 2.5s ease" % idx
  top 32vh + 48vh * idx
  if idx % 2 == 0
    transform scale(0.9) rotate(90deg)
    right @height * 0.1

caption-style(idx)
  top 32vh + 48vh * idx - 30vh

.photos
  .expand-photos-container
    cursor pointer
    z-index 3
  
  .expand-photos-container
    cursor pointer
    margin-left 72px

    .expand-photos
      serifHeader()
      margin 40px 0
      text-transform lowercase
      width max-content

    .thumbnails
      perspective 1000px

      img
        height 50vh
        transition transform 0.5s

  .photos-container
    .photo-background
      background alpha($darkGray, 0.9)
      height 100vh
      left 0
      opacity 0
      position fixed
      top 0
      transition opacity 0.4s linear
      width 100vw
      z-index -1

    .close
      align-items center
      display flex
      height 48px
      left 80px
      position absolute
      top 10vh
      width max-content
      z-index 3

      svg
        cursor pointer
        stroke $black
        width 48px

      .text
        animation textBounce 1.3s linear infinite
        font-size $fontS
        margin-left 16px
        text-transform uppercase

  &.expanded
    .expand-photos-container
      opacity 0

    .photos-container
      left 0
      position absolute
      top 0

      .photo-background
        opacity 1
        z-index 1

      .images-scroll-container
        animation photoContainerEntry 2.5s linear
        height 80vh
        left 0
        overflow-y hidden
        position absolute
        top 20vh
        width 100vw

      .images
        animation allPhotoEntry 2.5s cubic-bezier(.32,.42,.5,1) //cubic-bezier(.71,.44,.56,.63)
        height 100vw // switch with width bc rotate 65vh
        left 0
        opacity 1
        position absolute
        top -20px
        width 80vh // switch with height bc rotate 88vw
        z-index 2
        overflow-y auto
        overflow-x hidden
        transform: rotate(-90deg) translateY(-80vh)
        transform-origin right top

        .image
          height 65vh
          position absolute
          right 20px
          transition transform 0.5s ease-out
          transform rotate(90deg)
          transform-origin right top

          for idx in 1..10
            &.index-{idx}
              photo-style(idx)

          img
            height 100%
            z-index 1

        .caption
          color $white
          display flex
          font-size $fontL
          justify-content center
          opacity 0
          position absolute
          left -160px
          text-shadow 0 0 7px $black
          transform rotate(90deg)
          transition opacity 0.3s linear
          width 150%
          z-index 100

          for idx in 1..10
            &.index-{idx}
              caption-style(idx)

          &.show
            opacity 1

@keyframes textBounce
  0%
    transform translateY(-2px)
  40%
    transform translateY(5px)
  100%
    transform translateY(-2px)

@keyframes photoContainerEntry
  0%
    width 100vw
    height 100vh
    overflow visible
  100%
    width 100vw
    height 100vh
    overflow visible

@keyframes allPhotoEntry
  0%
    left 80vw
    opacity 0
    overflow visible
    top 70vh
    transform rotate(-90deg) translateY(-80vh) scale(0.5)
  20%
    opacity 1
    top -10vh
    left 50vw
    transform rotate(-90deg) translateY(-80vh) scale(1)
  30%
    left 50vw
  100%
    overflow visible

for idx in 1..10
  @keyframes photo{idx}
    0%
      top $height * 0.16 * idx
      right $height * 0.05 * idx
      opacity 0.6
      transform rotate(-25deg + (6 * idx) + 90deg)
    30%
      top $height * 0.16 * idx
      right $height * 0.05 * idx
      transform rotate(-25deg + (6 * idx) + 90deg)
    70%
      opacity 0.8
