@require 'styles'
@require 'responsive'

.pw
  align-items center
  display flex
  flex-direction column
  height 100vh
  justify-content center
  width 100vw

  h1
    serifHeader()
    color $darkGray
    margin-bottom 24px
    text-transform lowercase

  .input
    align-items baseline
    display flex
    padding 24px

    +media($mobile-screen)
      align-items center
      flex-direction column

    input
      input()
      serifHeader()
      color $black
      font-size $fontL
      padding 8px 0

      +media($mobile-screen)
        width calc(100vw - 80px)

    .button
      serifHeader()
      border 1px solid $darkGray
      border-radius 4px
      cursor pointer
      font-size $fontL
      margin-left 16px
      padding 12px
      text-transform lowercase

      +media($mobile-screen)
        margin 24px 0
        width min-content

  .error
    color transparent
    margin-top 24px

    &.show
      color $red
