@require 'styles'

$backgroundColor = #b2e9ff
$shadowColor = darken($backgroundColor, 70)

.questions
  display grid
  grid-auto-rows 8px
  grid-gap 32px
  grid-template-columns repeat(auto-fill, minmax(250px,1fr))
  padding 0 40px 40px 40px

  .question
    background-color white
    cursor default
    opacity 1
    padding 24px
    position relative
    transition filter 0.4s ease-in-out

    $colors = #b2ffc8 #b2e9ff #b2c3ff #b2ffef #e5ddff #b2f6ff #cee3fb #d2e1ff #b2dcff #dee0f9

    for idx in 0..9
      &:nth-child({idx})

        animation waitToFadeIn (0.2s * idx) linear, fadeInQuestion 1s ease (0.2s * idx)
        filter drop-shadow(0 10px 5px alpha(darken($colors[idx], 70), 0.1))

        .card-border
          background alpha($colors[idx], 0.5)

        &:hover
          filter drop-shadow(0 8px 8px alpha(darken($colors[idx], 70), 0.2))

    .q
      align-items center
      display flex
      margin-bottom 32px
      padding-right 8px
      position relative
      z-index 4

      .icon
        margin 0 12px 8px 0

      .text
        color $black
        font-weight 500
        transition color 0.3s ease-in-out 0.2s

    .answer
      color $darkGray
      font-weight 400
      line-height 1.2em
      position relative
      z-index 3

    .card-border
      animation growIn 1.5s ease
      height 72px
      right 16px
      position absolute
      top -8px
      transition top 0.4s ease-in-out, width 0.4s ease-in-out, right 0.4s ease-in-out
      width 8px
      z-index 1

    &.hover
      .card-border
        right 0
        top 0
        width 100%

@keyframes waitToFadeIn
  from
    opacity 0
    transform translateY(-16px)
  to
    opacity 0
    transform translateY(-16px)

@keyframes fadeInQuestion
  from
    opacity 0
    transform translateY(-16px)
  to
    opacity 1
    transform translateY(0)

@keyframes growIn
  0%
    opacity 0
    height 0
  40%
    opacity 0
    height 0
  100%
    opacity 1
    height 72px
