$large-screen = '(min-width: 1500px)'
$not-large-screen = '(max-width: 1499px)'
$normal-screen = '(min-width: 1200px)'
$not-normal-screen = '(max-width: 1199px)'
$small-screen = '(min-width: 900px) and (max-width: 1099px)'
$extra-small-screen = '(max-width: 799px)'
$not-extra-small-screen = '(min-width: 800px)'
$not-mobile-screen = '(min-width: 500px)'
$mobile-screen = '(max-width: 499px)'
$not-tall-enough = '(max-height: 500px)'

// mixins - which allow you to add a {block} - use syntax:
// +media(normal)
//   flex-direction column
//   width 50px
media(size)
  condition = 'screen and %s' % unquote(size)
  @media condition
    {block}
