$tan = #e3d7bd
$lightTan = #ebe6d9
$lightestTan = #f6f3e7
$beige = #f0e2ce
$gray = #d3d0c9
$darkGray = #b1ab9f
$reallyDarkGray = #797474
$white = #ffffff
$black = #151414
$red = #AC3B2A
$green = #87cc94

$fontXXL = 72px
$fontXL = 36px
$fontL = 24px
$fontM = 20px
$fontS = 16px
$fontXS = 14px

regularText()
  color $black
  font-family 'Tajawal'
  font-size $fontM
  font-weight 400

header()
  font-weight 300
  font-size $fontXL

serifHeader()
  font-family 'Merriweather'
  header()

subtext()
  font-weight 400
  font-size $fontXS
  color $darkGray

link()
  border-bottom 1px solid transparent
  color $darkGray
  cursor pointer
  font-weight 500
  text-decoration none
  transition all 0.5s ease

  &:hover
    border-bottom 1px solid $gray
    color $black
