@require 'responsive'

@font-face
  font-family GeneralSans
  src url('fonts/GeneralSans-Medium.ttf')
  font-weight 500
  font-display swap
  font-style normal

@font-face
  font-family GeneralSans
  src url('fonts/GeneralSans-Regular.ttf')
  font-weight 400
  font-display swap
  font-style normal

@font-face
  font-family GeneralSans
  src url('fonts/GeneralSans-Light.ttf')
  font-weight 300
  font-display swap
  font-style normal

@font-face
  font-family GeneralSans
  src url('fonts/GeneralSans-ExtraLight.ttf')
  font-weight 200
  font-display swap
  font-style normal

@font-face
  font-family Merriweather
  src url('fonts/Merriweather-Light.ttf')
  font-weight 300
  font-display swap
  font-style normal

$tan = #e3d7bd
$lightTan = #ebe6d9
$lightestTan = #f6f3e7
$beige = #e3d6cc
$gray = #c7c3c1
$darkGray = #a39c99
$reallyDarkGray = #56504e
$white = #ffffff
$black = #151414
$red = #AC3B2A
$green = #87cc94

$fontXXL = 72px
$fontXL = 30px
$fontXLMobile = 24px
$fontL = 24px
$fontM = 20px
$fontMMobile = 18px
$fontS = 16px
$fontXS = 14px

regularText()
  color $black
  font-family GeneralSans, sans-serif
  font-size $fontM
  font-weight 300

header()
  font-weight 300
  font-size $fontXL

  +media($mobile-screen)
    font-size $fontXLMobile

serifHeader()
  font-family Merriweather
  header()

subtext()
  font-weight 400
  font-size $fontXS
  color $darkGray

link()
  border-bottom 1px solid $gray
  color $darkGray
  cursor pointer
  font-weight 500
  text-decoration none
  transition all 0.5s ease
  &:hover
    border-bottom 1px solid $reallyDarkGray
    color $black

input()
  background none
  border none
  border-bottom 1px solid $black
  outline none
