@require 'styles'

.template-content
  animation fadeInContent 0.7s linear
  max-width 600px
  padding 40px

  p
    line-height 1.2
    margin 16px 0

  h2
    serifHeader()
    margin-bottom 30px
    text-transform lowercase

  &.photos-template
    max-height calc(100vh - 104px - 80px)
    max-width unquote("min(calc(35vw - 80px), 416px)")
    overflow-y scroll
    padding-left 80px
    padding-top 20px

    +media($large-screen)
      max-width 376px

    +media($extra-small-screen)
      max-width calc(100vw - 80px)

    +media($mobile-screen)
      max-height calc(100vh - 80px - 80px)
      max-width calc(100vw - 48px)
      padding 24px

  &.questions-template, &.rsvp-template
    padding 0

@keyframes fadeInContent
  from
    opacity 0
  to
    opacity 1

@keyframes waitToFadeInContent
  from
    opacity 0
  to
    opacity 0
