@require 'styles'

.template-content
  padding 40px
  max-width 600px

  p
    line-height 1.2
    margin 16px 0

  h2
    serifHeader()
    margin-bottom 30px
    text-transform lowercase

  &.photos-template
    max-height calc(100vh - 104px - 80px)
    max-width calc(35vw - 80px)
    overflow-y scroll
