@require 'styles'

.timeline
  display flex
  height 100vh
  left 0
  position absolute
  top 0
  width 100%

  .column
    animation fadeInContent 0.7s linear
    top 0
    height 100%
    width 50vw

    &.left
      align-self flex-end
      overflow-y hidden

      +media($extra-small-screen)
        width 0

      .gatsby-image-wrapper
        height 100%

    &.right
      align-items center
      background white
      display flex
      flex-direction column
      height calc(100vh - 160px)
      justify-content space-between
      overflow scroll
      padding 100px 80px 60px
      width calc(50vw - 160px)

      +media($extra-small-screen)
        padding 50px 40px 30px
        width calc(100vw - 80px)

      .hidden
        background transparent 
        height 1px
        width 100%

      .events
        .date
          margin 50px 0

          .date-text
            font-weight 500
            margin-right 12px
            margin-bottom 12px
            text-transform uppercase

        .event
          margin 20px 0 40px
          display grid
          grid-template-columns 200px minmax(auto, 300px)

          +media($small-screen)
            grid-template-columns 100px minmax(auto, 300px)

          .datetime
            text-align left

          .title
            serifHeader()
            font-size $fontL
            margin-bottom 12px
            text-transform lowercase

          .location
            color $darkGray
            font-size $fontS

      .notes
        color rgb(151, 167, 125)
        font-size $fontS
        font-weight 500
        line-height 1.2em
        margin-top 20px

      .footer
        width 100%

        .notes
          margin-top 12px
