@require '../responsive'

order(idx)
  transition transform 1s linear (0.1s * idx)
  z-index idx

.animation
  .ice-cream, .cone
    position absolute
    top -25vh
    left calc((100vw - 35%) / 2) //25vw

    +media($large-screen)
      left 400px

    +media($extra-small-screen)
      left 20vw

    +media($mobile-screen)
      left 264px
      transform scale(0.7)

    +media($smallest-screen)
      left 208px

  .ice-cream
    z-index 20

    .block
      &.one
        &.left
          top 10px
          left -39px
          order(14)
        &.center
          top 19px
          left -16px
          order(15)
        &.right
          top 34px
          left 22px
          order(16)
        &.top-left
          left 14px
          top 0px
          order(12)
        &.top-right
          left 46px
          top 12px
          order(13)
    .two
      position relative
      top -22px

      .left
        top 10px
        left -39px
        order(19)
      .center
        top 19px
        left -16px
        order(20)
      .right
        top 34px
        left 22px
        order(21)
      .top-left
        left 14px
        top 0px
        order(17)
      .top-right
        left 46px
        top 12px
        order(18)

    .three
      position relative
      top -44px

      .left
        left -30px
        top 6px
        order(22)
      .bottom
        left -16px
        top 24px
        order(24)
      .top
        left 16px
        top 12px
        order(23)
      .right
        left 31px
        top 30px
        order(25)

    .four
      position relative
      top -66px

      .top
        top 17px
        order(26)

  .cone
    top calc(-25vh + 24px)

    .six-left
      left -24px
      top 5px
      order(9)
    .six-center
      left -1px
      top 12px
      order(10)
    .six-right
      left 22px
      top 22px
      order(11)

    .five-left
      left -15px
      top 33px
      order(6)
    .five-right
      left 15px
      top 45px
      order(7)
    .five-top
      left 25px
      top 24px
      order(5)
    .five-bottom
      left -25px
      top 42px
      order(8)

    .four
      top 61px
      order(4)

    .three
      top 82px
      order(3)

    .two
      top 105px
      order(2)

    .one
      top 125px
      order(1)
