@require '../responsive'

order(idx)
  transition transform 1s linear (0.1s * idx)
  z-index idx

.animation
  .ice-cream, .cone
    position absolute
    top -25vh
    left calc((100vw - 35%) / 2) //25vw

    +media($large-screen)
      left 400px

    +media($extra-small-screen)
      left 20vw

    +media($mobile-screen)
      left 264px
      transform scale(0.7)

    +media($smallest-screen)
      left 208px

  .ice-cream
    .block
      &.one
        &.left
          top 10px
          left -36px
          order(12)
        &.center
          top 18px
          left -14px
          order(13)
        &.right
          top 30px
          left 19px
          order(14)
        &.top-left
          left 14px
          top -2px
          order(15)
        &.top-right
          left 46px
          top 10px
          order(16)
    .two
      position relative
      top -22px

      .left
        top 10px
        left -36px
        order(17)
      .center
        top 18px
        left -14px
        order(18)
      .right
        top 30px
        left 19px
        order(19)
      .top-left
        left 14px
        top -2px
        order(20)
      .top-right
        left 46px
        top 10px
        order(21)

    .three
      position relative
      top -44px

      .left
        left -20px
        top 7px
        order(22)
      .bottom
        left -19px
        top 25px
        order(23)
      .top
        left 12px
        top 13px
        order(24)
      .right
        left 27px
        top 31px
        order(25)

    .four
      position relative
      top -66px

      .top
        top 21px
        order(26)

  .cone
    top calc(-25vh + 24px)

    .six-left
      top 1px
      left -24px
      order(9)
    .six-center
      top 8px
      order(10)
    .six-right
      top 20px
      left 23px
      order(11)

    .five-left
      top 30px
      left -15px
      order(6)
    .five-right
      top 42px
      left 15px
      order(7)
    .five-top
      top 21px
      left 25px
      order(5)
    .five-bottom
      top 38px
      left -25px
      order(8)

    .four
      top 58px
      order(4)

    .three
      top 80px
      order(3)

    .two
      top 105px
      order(2)

    .one
      top 125px
      order(1)
