@require '../responsive'

order(idx)
  transition transform 1s linear (0.1s * idx)
  z-index idx

.animation
  .ball, .colors, .field
    position absolute
    top -25vh
    left calc((100vw - 35%) / 2)

    +media($large-screen)
      left 400px

    +media($extra-small-screen)
      left 20vw

    +media($mobile-screen)
      left 274px
      top -15vh
      transform scale(0.7)

    +media($smallest-screen)
      left 208px

  .field
    background-color green
    width 260px
    height 142px
    border 2px solid white
    top calc(50vh - 60px)
    left calc(((100vw - 35%) / 2) - 82px)
    transform rotateX(68deg) rotate(-35deg) scale(1.6)

    +media($large-screen)
      left 320px

    +media($extra-small-screen)
      left calc(20vw - 80px)
      transform rotateX(68deg) rotate(-35deg) scale(1)

    +media($mobile-screen)
      left 174px
      top calc(60vh - 30px)

    +media($smallest-screen)
      display none

    > *
      border 2px solid white
      position absolute

    .half
      height 142px
      left -2px
      top -2px
      width 130px
    .eighteen-1, .eighteen-2
      height 90px
      top 22px
      width 40px
      left -2px
    .eighteen-2
      right -2px
      left initial
    .circle
      left 115px
      top 50px
      border-radius 50%
      width 30px
      height 30px

  .colors
    z-index 2

    .cluster
      position absolute

      &.one
        left -34px
        top -42px
        .block
          order(20)
      &.two
        left 14px
        top -1px
        .block
          order(15)
      &.three
        left -49px
        top 31px
        .block
          order(7)
      &.four
        left 13px
        top 65px
        .block
          order(3)

      .block
        position absolute
        z-index 100

  .ball
    z-index 1

    .one
      position relative
      top 50px

      .left
        left -14px
        top 13px
        order(0)
      .right
        left 13px
        top 12px
        order(1)

    .two
      position relative
      top 22px

    .two, .three, .four
      .left
        top 10px
        left -39px
        order(8)
      .center
        top 19px
        left -16px
        order(9)
      .right
        top 34px
        left 22px
        order(10)
      .top-left
        left 14px
        top 0px
        order(6)
      .top-right
        left 46px
        top 12px
        order(7)

    .two
      z-index 5
    .three
      z-index 10

      .color-right
        left 60px
        top 25px
        order(8)

    .four
      z-index 11
      position relative
      top -22px

    .five
      position relative
      top -44px

      .left
        left -30px
        top 6px
        order(12)
      .bottom
        left -16px
        top 24px
        order(14)
      .top
        left 16px
        top 12px
        order(13)
      .right
        left 31px
        top 30px
        order(16)
      .color-right
        left 44px
        top 18px
        order(15)

    .six
      position relative
      top -66px

      .top
        top 17px
        order(16)
